USE [master]
GO
/****** Object:  Database [db_duanmau1]    Script Date: 7/8/2023 11:21:26 PM ******/
CREATE DATABASE [db_duanmau1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_duanmau1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_duanmau1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_duanmau1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_duanmau1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_duanmau1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_duanmau1]
GO
/****** Object:  Table [dbo].[ChiTietSP]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSP](
	[Id] [uniqueidentifier] NOT NULL,
	[IdSP] [uniqueidentifier] NULL,
	[IdTacGia] [uniqueidentifier] NULL,
	[IdDanhMuc] [uniqueidentifier] NULL,
	[IdNxb] [uniqueidentifier] NULL,
	[NamBH] [int] NULL,
	[MoTa] [nvarchar](50) NULL,
	[SoLuongTon] [int] NULL,
	[GiaNhap] [decimal](20, 0) NULL,
	[GiaBan] [decimal](20, 0) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](50) NULL,
	[VaiTro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](50) NULL,
	[Ten] [nvarchar](200) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[GiamGiaPhanTram] [int] NULL,
	[GiamGiaTienMat] [int] NULL,
	[LoaiGiamGia] [int] NULL,
	[DieuKienGiamGia] [nvarchar](200) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_GiamGia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[Id] [uniqueidentifier] NOT NULL,
	[IdKH] [uniqueidentifier] NULL,
	[IdNV] [uniqueidentifier] NULL,
	[Ma] [varchar](20) NULL,
	[NgayTao] [date] NULL,
	[NgayThanhToan] [date] NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Sdt] [varchar](30) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__HoaDon__3214EC0750E8EFAE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[IdHoaDon] [uniqueidentifier] NOT NULL,
	[IdChiTietSP] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](20, 0) NULL,
 CONSTRAINT [PK_HoaDonCT] PRIMARY KEY CLUSTERED 
(
	[IdHoaDon] ASC,
	[IdChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NOT NULL,
	[Ten] [nvarchar](200) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [int] NULL,
	[Email] [varchar](50) NULL,
	[Sdt] [varchar](30) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DiemTichLuy] [int] NULL,
	[MatKhau] [varchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__KhachHan__3214EC0703AEE088] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](200) NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Sdt] [varchar](30) NULL,
	[Email] [varchar](50) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[MatKhau] [varchar](max) NULL,
	[IdCV] [uniqueidentifier] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__NhanVien__3214EC07C94DDFE0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPGiamGia]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPGiamGia](
	[Id] [uniqueidentifier] NOT NULL,
	[IdSanPham] [uniqueidentifier] NULL,
	[IdGiamGia] [uniqueidentifier] NULL,
	[DonGia] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_SPGiamGia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 7/8/2023 11:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietSP] ([Id], [IdSP], [IdTacGia], [IdDanhMuc], [IdNxb], [NamBH], [MoTa], [SoLuongTon], [GiaNhap], [GiaBan], [AnhDaiDien], [TrangThai]) VALUES (N'd61adab0-1701-47c2-8a23-4df0295b991e', N'027b422a-a280-4ed2-8742-55dd5a280f29', N'81e2936c-4c62-4245-b4ba-194437e9dc64', N'28abdd48-7781-467d-a671-c33cb34670ec', N'0a49670d-8da6-46b5-8146-2550b72399fe', NULL, N'sách tiếng anh lớp 6 tập 1', 45, CAST(45 AS Decimal(20, 0)), CAST(60 AS Decimal(20, 0)), N'C:\Users\TBC\Pictures\Screenshots\Screenshot (4).png', 1)
INSERT [dbo].[ChiTietSP] ([Id], [IdSP], [IdTacGia], [IdDanhMuc], [IdNxb], [NamBH], [MoTa], [SoLuongTon], [GiaNhap], [GiaBan], [AnhDaiDien], [TrangThai]) VALUES (N'bdc216ec-0f8e-417e-b7a3-d93c783e2c86', N'd6a3d352-5be2-4e7a-9b21-0f030eb41ec7', N'81e2936c-4c62-4245-b4ba-194437e9dc64', N'1a946b2c-4e1a-4514-8368-4444bd9b181c', N'c737c710-b701-4def-88f2-3ccc290ba6e1', NULL, N'4', 63, CAST(774 AS Decimal(20, 0)), CAST(74 AS Decimal(20, 0)), N'C:\Users\TBC\Pictures\Screenshots\Screenshot (3).png', 0)
INSERT [dbo].[ChiTietSP] ([Id], [IdSP], [IdTacGia], [IdDanhMuc], [IdNxb], [NamBH], [MoTa], [SoLuongTon], [GiaNhap], [GiaBan], [AnhDaiDien], [TrangThai]) VALUES (N'b82bb2e5-e6e6-46ac-9175-ff6db4948458', N'aac441a7-9580-4f1f-a2a7-5804399a4ccc', N'41975f25-3bb5-4f3a-b355-bb8a721f80a8', N'1a946b2c-4e1a-4514-8368-4444bd9b181c', N'5d84c245-db12-4a5f-a675-be4fafb12046', NULL, N'sách toán lớp 6 tập 1', 38, CAST(55 AS Decimal(20, 0)), CAST(76 AS Decimal(20, 0)), N'C:\Users\TBC\Pictures\Screenshots\Screenshot (7).png', 1)
GO
INSERT [dbo].[ChucVu] ([Id], [Ma], [Ten], [VaiTro]) VALUES (N'49a6f8e8-a5c8-4ab4-9f5f-00b07c5688bf', N'cv05', N'bảo vệ', 0)
INSERT [dbo].[ChucVu] ([Id], [Ma], [Ten], [VaiTro]) VALUES (N'0ca9943e-0dbc-44d3-8c27-18a3655b18ce', N'cv01', N'nhân viên 213', 0)
INSERT [dbo].[ChucVu] ([Id], [Ma], [Ten], [VaiTro]) VALUES (N'60c86413-af71-438b-993a-36defa4304fc', N'cv06', N'vệ sinh', 0)
GO
INSERT [dbo].[DanhMuc] ([Id], [Ma], [Ten]) VALUES (N'1a946b2c-4e1a-4514-8368-4444bd9b181c', N'DM01', N'Toan')
INSERT [dbo].[DanhMuc] ([Id], [Ma], [Ten]) VALUES (N'd2fe5faf-12e7-42e3-b0a1-83571f8fb35f', N'DM02', N'Van')
INSERT [dbo].[DanhMuc] ([Id], [Ma], [Ten]) VALUES (N'821a4bef-e920-473e-8a2e-b30080412216', N'DM08', N'chinh tri')
GO
INSERT [dbo].[HoaDon] ([Id], [IdKH], [IdNV], [Ma], [NgayTao], [NgayThanhToan], [TenKhachHang], [DiaChi], [Sdt], [GhiChu], [TrangThai]) VALUES (N'5e51057b-aa9a-4109-87d9-0876916da47e', NULL, N'01e30612-88a0-475b-a1af-8d3c35bd0980', N'HD8', CAST(N'2023-07-07' AS Date), CAST(N'2023-07-08' AS Date), NULL, N'thanh pho HCM', N'0987121', N'', 1)
INSERT [dbo].[HoaDon] ([Id], [IdKH], [IdNV], [Ma], [NgayTao], [NgayThanhToan], [TenKhachHang], [DiaChi], [Sdt], [GhiChu], [TrangThai]) VALUES (N'a112d6a2-ac19-4fae-b4b5-1c554ec8e065', NULL, NULL, N'HD12', CAST(N'2023-07-08' AS Date), CAST(N'2023-07-08' AS Date), NULL, N'thanh pho HCM', N'0987121', N'', 1)
INSERT [dbo].[HoaDon] ([Id], [IdKH], [IdNV], [Ma], [NgayTao], [NgayThanhToan], [TenKhachHang], [DiaChi], [Sdt], [GhiChu], [TrangThai]) VALUES (N'a1d41ff4-99eb-4c6e-84f4-1f5659cdc87d', NULL, N'01e30612-88a0-475b-a1af-8d3c35bd0980', N'HD10', CAST(N'2023-07-07' AS Date), CAST(N'2023-07-08' AS Date), NULL, NULL, NULL, N'', 1)
GO
INSERT [dbo].[HoaDonChiTiet] ([IdHoaDon], [IdChiTietSP], [SoLuong], [DonGia]) VALUES (N'a1d41ff4-99eb-4c6e-84f4-1f5659cdc87d', N'd61adab0-1701-47c2-8a23-4df0295b991e', 2, CAST(60 AS Decimal(20, 0)))
INSERT [dbo].[HoaDonChiTiet] ([IdHoaDon], [IdChiTietSP], [SoLuong], [DonGia]) VALUES (N'e40e7d61-a18d-4d62-a67e-3da881309507', N'bdc216ec-0f8e-417e-b7a3-d93c783e2c86', 5, CAST(74 AS Decimal(20, 0)))
INSERT [dbo].[HoaDonChiTiet] ([IdHoaDon], [IdChiTietSP], [SoLuong], [DonGia]) VALUES (N'e40e7d61-a18d-4d62-a67e-3da881309507', N'b82bb2e5-e6e6-46ac-9175-ff6db4948458', 4, CAST(76 AS Decimal(20, 0)))
GO
INSERT [dbo].[KhachHang] ([Id], [Ma], [Ten], [NgaySinh], [GioiTinh], [Email], [Sdt], [DiaChi], [DiemTichLuy], [MatKhau], [TrangThai]) VALUES (N'de498e30-b0d1-4506-ac84-12b553e8b252', N'kh12', N'tueye', CAST(N'2002-07-10' AS Date), 1, N'', N'08999888', N'hn', 0, N'123', 1)
INSERT [dbo].[KhachHang] ([Id], [Ma], [Ten], [NgaySinh], [GioiTinh], [Email], [Sdt], [DiaChi], [DiemTichLuy], [MatKhau], [TrangThai]) VALUES (N'f9afd41c-7b78-47f4-997d-92f82b49a281', N'kh1231', N'tueye4', CAST(N'2002-07-11' AS Date), 0, N'', N'08999888', N'hn31', 9, N'12312', 1)
INSERT [dbo].[KhachHang] ([Id], [Ma], [Ten], [NgaySinh], [GioiTinh], [Email], [Sdt], [DiaChi], [DiemTichLuy], [MatKhau], [TrangThai]) VALUES (N'efd5c6dc-2834-4fc1-92ab-b108e0617af1', N'kh88', N'Nguyễn tThanh Hưng', CAST(N'2002-05-08' AS Date), 0, N'hnug@gmail.com', N'0987121', N'thanh pho HCM', 0, N'111', 0)
GO
INSERT [dbo].[NhanVien] ([Id], [Ma], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [Email], [AnhDaiDien], [MatKhau], [IdCV], [TrangThai]) VALUES (N'2c534580-e481-42ee-890d-23c33ede8387', N'nv023', N'nguyễn thị  thúy', 0, CAST(N'2023-06-09' AS Date), N'HN23', N'123456777', N'thuy223@gmail.com', N'', N'1233', N'49a6f8e8-a5c8-4ab4-9f5f-00b07c5688bf', 1)
INSERT [dbo].[NhanVien] ([Id], [Ma], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [Email], [AnhDaiDien], [MatKhau], [IdCV], [TrangThai]) VALUES (N'1a5a38bc-41ac-4a4e-90c4-3a5ab901fd20', N'nv013432', N'phạm văn tú', 1, CAST(N'2000-05-12' AS Date), N'HN', N'1231231', N'', N'', N'123', N'0ca9943e-0dbc-44d3-8c27-18a3655b18ce', 1)
INSERT [dbo].[NhanVien] ([Id], [Ma], [Ten], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [Email], [AnhDaiDien], [MatKhau], [IdCV], [TrangThai]) VALUES (N'8e6880ed-c8e0-4ebd-a6b4-59fa8124bb66', N'nv02', N'nguyễn thị khang', 0, CAST(N'2001-05-18' AS Date), N'HN', N'1234567', N'jhg', N'', N'123', N'0ca9943e-0dbc-44d3-8c27-18a3655b18ce', 0)
GO
INSERT [dbo].[NXB] ([Id], [Ma], [Ten]) VALUES (N'0a49670d-8da6-46b5-8146-2550b72399fe', N'nxb05', N'Nhà sách giáo dục')
INSERT [dbo].[NXB] ([Id], [Ma], [Ten]) VALUES (N'c737c710-b701-4def-88f2-3ccc290ba6e1', N'kim do', N'nxb kim don')
INSERT [dbo].[NXB] ([Id], [Ma], [Ten]) VALUES (N'5d84c245-db12-4a5f-a675-be4fafb12046', N'nxb02', N'nxb Kim đồng')
GO
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten]) VALUES (N'c1705610-f138-4051-bcab-0924ab5e7697', N'sp09', N'dia ly lop 7')
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten]) VALUES (N'd6a3d352-5be2-4e7a-9b21-0f030eb41ec7', N'77', N'774')
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten]) VALUES (N'027b422a-a280-4ed2-8742-55dd5a280f29', N'sp03', N'tiếng anh tập 1 lớp 6')
GO
INSERT [dbo].[TacGia] ([Id], [Ma], [Ten]) VALUES (N'81e2936c-4c62-4245-b4ba-194437e9dc64', N'gtd', N'tac gia nh')
INSERT [dbo].[TacGia] ([Id], [Ma], [Ten]) VALUES (N'257ca59f-8605-4188-a9d7-1beba35f9487', N'TG033', N'tac gia 1')
INSERT [dbo].[TacGia] ([Id], [Ma], [Ten]) VALUES (N'78445f93-e4fb-4a7b-8b68-900282ad35c6', N'TG03', N'tac gia 11')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__3214CC9EA25D3FD7]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DongSP__3214CC9E980CB7E3]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[DanhMuc] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__3214CC9E5CC6AAF5]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [UQ__HoaDon__3214CC9E5CC6AAF5] UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__3214CC9E64E9144F]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ__KhachHan__3214CC9E64E9144F] UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__3214CC9E1385B7FE]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ__NhanVien__3214CC9E1385B7FE] UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NSX__3214CC9EEA67036A]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[NXB] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__3214CC9E615EA4F1]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MauSac__3214CC9E2AC01FBB]    Script Date: 7/8/2023 11:21:26 PM ******/
ALTER TABLE [dbo].[TacGia] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT (NULL) FOR [NamBH]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT (NULL) FOR [MoTa]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT ((0)) FOR [GiaNhap]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[ChucVu] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChucVu] ADD  DEFAULT (NULL) FOR [Ten]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[GiamGia] ADD  CONSTRAINT [DF_GiamGia_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__Id__5BE2A6F2]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__NgayTao__5CD6CB2B]  DEFAULT (NULL) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__NgayThan__5DCAEF64]  DEFAULT (NULL) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__TenNguoi__619B8048]  DEFAULT (NULL) FOR [TenKhachHang]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__DiaChi__628FA481]  DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__Sdt__6383C8BA]  DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__TinhTran__60A75C0F]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF__KhachHang__Id__5070F446]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF__KhachHang__NgayS__534D60F1]  DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF__KhachHang__Sdt__5441852A]  DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF__KhachHang__DiaCh__5535A963]  DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF__KhachHang__MatKh__5812160E]  DEFAULT (NULL) FOR [MatKhau]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__Id__440B1D61]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__Ten__44FF419A]  DEFAULT (NULL) FOR [Ten]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__GioiTi__47DBAE45]  DEFAULT (NULL) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__NgaySi__48CFD27E]  DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__DiaChi__49C3F6B7]  DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__Sdt__4AB81AF0]  DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__MatKha__4BAC3F29]  DEFAULT (NULL) FOR [MatKhau]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__TrangT__4CA06362]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NXB] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SPGiamGia] ADD  CONSTRAINT [DF_SPGiamGia_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TacGia] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdSP])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSP_DanhMuc] FOREIGN KEY([IdDanhMuc])
REFERENCES [dbo].[DanhMuc] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP] CHECK CONSTRAINT [FK_ChiTietSP_DanhMuc]
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSP_NXB] FOREIGN KEY([IdNxb])
REFERENCES [dbo].[NXB] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP] CHECK CONSTRAINT [FK_ChiTietSP_NXB]
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSP_TacGia] FOREIGN KEY([IdTacGia])
REFERENCES [dbo].[TacGia] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP] CHECK CONSTRAINT [FK_ChiTietSP_TacGia]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__IdKH__114A936A] FOREIGN KEY([IdKH])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__IdKH__114A936A]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__IdNV__1332DBDC] FOREIGN KEY([IdNV])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__IdNV__1332DBDC]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HoaDon] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([IdChiTietSP])
REFERENCES [dbo].[ChiTietSP] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__IdCV__0F624AF8] FOREIGN KEY([IdCV])
REFERENCES [dbo].[ChucVu] ([Id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__IdCV__0F624AF8]
GO
ALTER TABLE [dbo].[SPGiamGia]  WITH CHECK ADD  CONSTRAINT [FK_SPGiamGia_ChiTietSP] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[ChiTietSP] ([Id])
GO
ALTER TABLE [dbo].[SPGiamGia] CHECK CONSTRAINT [FK_SPGiamGia_ChiTietSP]
GO
ALTER TABLE [dbo].[SPGiamGia]  WITH CHECK ADD  CONSTRAINT [FK_SPGiamGia_GiamGia] FOREIGN KEY([IdGiamGia])
REFERENCES [dbo].[GiamGia] ([Id])
GO
ALTER TABLE [dbo].[SPGiamGia] CHECK CONSTRAINT [FK_SPGiamGia_GiamGia]
GO
USE [master]
GO
